<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/index.css" >
        <title>Backtests Charts</title>
    </head>

    <body class="body-container" >
        <div class="main-form-container" >
            <div class="model-form-row" >
                <form class="model-form" action="/backtestChart" method="GET" >
                    <div class="input-container" >
                        <h5>Enter Backtest ID below</h5>
                        
                        <input class="form-control" id="backtest-id" name="backtestId">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Plot Backtest
                    </button>
                </form>

                <form class="model-form" action="/pktrChart" method="GET" >
                    <div class="input-container" >
                        <h5>Enter PKTR ID below</h5>

                        <input class="form-control" id="model-unique-id" name="modelUniqueId">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Plot PKTR
                    </button>
                </form>

            </div>
            
            <div class="model-form-row">
                <form class="model-form" action="/pctChart" method="GET" >
                    <div class="input-container" >
                        <h5>Enter PCT ID below</h5>

                        <input class="form-control" id="pct-model-unique-id" name="pctModelUniqueId">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Plot PCT
                    </button>
                </form>

                <form class="model-form" action="/almPctChart" method="GET" >
                    <div class="input-container" >
                        <h5>Enter ALM PCT ID below</h5>

                        <input class="form-control" id="alm-pct-model-unique-id" name="almPctModelUniqueId">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Plot ALM PCT
                    </button>
                </form>
            </div>

            <div class="model-form-card">
                <form class="model-form" action="/almPktrChart" method="GET" >
                    <div class="input-container" >
                        <h5>Enter ALM PKTR ID below</h5>

                        <input class="form-control" id="alm-pktr-model-unique-id" name="almPktrModelUniqueId">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Plot ALM PKTR
                    </button>
                </form>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>