.body-container {
    background: url('../../assets/images/bg_image_01.jpg') no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-form-container {
    background: #fff;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
}

.main-form {
    height: 55%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.model-form {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.model-form-row {
    height: 30%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.model-form-card {
    height: 30%;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-container {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}